.card {
  width: 300px;
  margin: 16px; 
  text-align: left;
  color: inherit;
  text-decoration: none;

}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card_image {
  height: 200px;
  background: fixed;
}

.card_description {

}

.card_title {

}