.title_card_container {
  height: 200px;
  width: 225px;
  border-radius: 24px;
  display: grid;
  text-align: right;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .title_card_container {
    height: 300px;
    width: 300px;
  }
}

.title_card_title {
  grid-area: 1 / 1;
  z-index: 2;
}

.title_card_title h1 {
  font-size: 36px;
}
.title_card_title h2 {
  font-size: 24px;
}

.inner {
  height: 200px;
  width: 150px;
  grid-area: 1 / 1;
  border-radius: 24px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .inner {
    height: 300px;
    width: 225px;
  }
  .title_card_title h1 {
    font-size: 48px;
  }
  .title_card_title h2 {
    font-size: 36px;
  }
}
