.section {
  min-height: 500px;
}

.flex_inline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.input {
  width: 320px;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: 1.15rem;
  line-height: 1.5;
}
.article_switch {
  margin-left: 10px;
  cursor: pointer;

}

.article_list {
  max-width: 600px;
  margin: 0 auto;
}

.tag_group {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.tags {
  background-color: #f6f3ea;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  margin: 0 5px;
  cursor: pointer;
}

.tags:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
